body  {
	font-family: arial;
	font-size: 24px;
	color: $font-color;
}

h1 {
	font-size: 1.2em;
	padding: 0 0 0.9em 0;
}

h2 {
	font-size: 0.95em;
	padding: 0 0 0.8em 0;
}

h3 {
	font-size: 0.75em;
	padding: 0 0 0.7em 0;
}

h4 {
	font-size: 0.6em;
	padding: 0 0 0.6em 0;
}

p {
	font-size: 0.55em;
	padding: 0.6em 0;
}