
/*
* New color-sheme
*/

$nav-background-color: #007aa5;
$nav-border-color: #008dbf;
$nav-link-color: #fff;
$nav-hover-color: #000;

$banner-background-color: #A9AAAA;
$banner-font-color: #3d2b1f;

$font-color: #000000;
$page-background-color: #fff;
