$dc-base-color: #0b7200;
$dc-light-color: #fff;

$border-color: lighten($dc-base-color, 20);
$nav-link-color: lighten($dc-base-color, 40);
$nav-hover-color: lighten($dc-base-color, 60);
$nav-background-color: lighten($dc-base-color, 10);